<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /zy-wfh-7k2m/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /zy-wfh-7k2m/index.html [L]
</IfModule>
